modules = ["nodejs-20", "python-3.11", "web"]
[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "postgresql", "tcl", "tk", "unzip", "zlib"]

[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38605
externalPort = 3001

[[ports]]
localPort = 44721
externalPort = 3000

[userenv]

[userenv.development]
DATABASE_URL = "postgresql://bulkmail_user:tm4mnrJn7moDpCdSrJ9tWyKWvJaZgrXS@dpg-d4nf220bdp1s73bk3pcg-a.oregon-postgres.render.com/bulk_mail"

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
