{% macro sel_language(s_id, s_label) -%}
<label for ="{{ s_id }}">{{s_label }}</label&nbsp;><select id="{{ s_id }}" name="languages" class="form-select">
<option>language</option>
<option value="af">Afrikaans</option>
<option value="sq">Albanian - (Shqip)</option>
<option value="am">Amharic - (????)</option>
<option value="ar">Arabic - (???????)</option>
<option value="an">Aragonese - (Aragonés)</option>
<option value="hy">Armenian - (???????)</option>
<option value="ast">Asturian - (Asturianu)</option>
<option value="ay">Aymara - (Aymar aru)</option>
<option value="az">Azerbaijani - (Az?rbaycan dili)</option>
<option value="eu">Basque - (Euskara)</option>
<option value="be">Belarusian - (??????????)</option>
<option value="bn">Bengali - (?????)</option>
<option value="brx">Bodo - (??')</option>
<option value="bs">Bosnian - (Bosanski)</option>
<option value="br">Breton - (Brezhoneg)</option>
<option value="bg">Bulgarian - (?????????)</option>
<option value="ca">Catalan - (Català)</option>
<option value="ckb">Central - Kurdish (?????)</option>
<option value="ce">Chechen (??????? ????)</option>
<option value="zh">Chinese (??)</option>
<option value="zh-HK">Chinese Hong Kong - (?? - ??)</option>
<option value="zh-CN">Chinese Simplified - (????)</option>
<option value="zh-TW">Chinese Traditional - (????)</option>
<option value="co">Corsican - (Corsu)</option>
<option value="hr">Croatian - (Hrvatski)</option>
<option value="cs">Czech - (Ceština)</option>
<option value="da">Danish - (Dansk)</option>
<option value="dv">Dhivehi - (??????)</option>
<option value="nl">Dutch (Nederlands)</option>
<option value="dz">Dzongkha (??????)</option>
<option value="en">English</option>
<option value="en-AU">English (Australia)</option>
<option value="en-CA">English (Canada)</option>
<option value="en-IN">English (India)</option>
<option value="en-NZ">English (New Zealand)</option>
<option value="en-ZA">English (South Africa)</option>
<option value="en-GB">English (United Kingdom)</option>
<option value="en-US">English (United States)</option>
<option value="eo">Esperanto</option>
<option value="et">Estonian (Eesti)</option>
<option value="ee">Ewe (E?egbe)</option>
<option value="fo">Faroese - (Føroyskt)</option>
<option value="fil">Filipino (Wikang Filipino)</option>
<option value="fi">Finnish (Suomi)</option>
<option value="fr">French (Français)</option>
<option value="fr-CA">French Canada - (Français Canada)</option>
<option value="fr-FR">French France - (Français France)</option>
<option value="fr-CH">French Switzerland - (Français Suisse)</option>
<option value="gl">Galician - (Galego)</option>
<option value="ka">Georgian - (???????)</option>
<option value="de">German - (Deutsch)</option>
<option value="de-AT">German Austria  - (Deutsch Österreich)</option>
<option value="de-DE">German Germany  - (Deutsch Deutschland)</option>
<option value="de-LI">German Liechtenstein  - (Deutsch Liechtenstein)</option>
<option value="de-CH">German Switzerland  - (Deutsch Schweiz)</option>
<option value="el">Greek - (????????)</option>
<option value="gn">Guarani - (Avañe'?)</option>
<option value="gu">Gujarati - (???????)</option>
<option value="ha">Hausa - (??????)</option>
<option value="haw">Hawaiian - (?Olelo Hawai?i)</option>
<option value="he">Hebrew - (?????)</option>
<option value="hi">Hindi - (??????)</option>
<option value="hu">Hungarian - (Magyar)</option>
<option value="is">Icelandic - (Íslenska)</option>
<option value="id">Indonesian - (Bahasa Indonesia)</option>
<option value="ia">Interlingua</option>
<option value="iu">Inuktitut - (??????)</option>
<option value="ga">Irish - (Gaeilge)</option>
<option value="it">Italian - (Italiano)</option>
<option value="it-IT">Italian Italy - (Italiano Italia)</option>
<option value="it-CH">Italian Switzerland - (Italiano - Svizzera)</option>
<option value="ja">Japanese - (???)</option>
<option value="kl">Kalaallisut - (Kalaallisut)</option>
<option value="kn">Kannada - (?????)</option>
<option value="ks">Kashmiri - (????? / ??????)</option>
<option value="kk">Kazakh - (????? ????)</option>
<option value="km">Khmer - (?????)</option>
<option value="rw">Kinyarwanda - (Ikinyarwanda)</option>
<option value="ko">Korean - (???)</option>
<option value="ku">Kurdish - (Kurdî)</option>
<option value="ky">Kyrgyz - (????????)</option>
<option value="lo">Lao - (???)</option>
<option value="la">Latin - (Latina)</option>
<option value="lv">Latvian - (Latviešu)</option>
<option value="ln">Lingala - (Lingála)</option>
<option value="lt">Lithuanian - (Lietuviu)</option>
<option value="lg">Luganda - (Luganda)</option>
<option value="lb">Luxembourgish - (Lëtzebuergesch)</option>
<option value="mk">Macedonian - (??????????)</option>
<option value="mai">Maithili - (??????)</option>
<option value="ms">Malay - (Bahasa Melayu)</option>
<option value="ml">Malayalam - (??????)</option>
<option value="mt">Maltese - (Malti)</option>
<option value="mni">Manipuri - (???????)</option>
<option value="mr">Marathi - (?????)</option>
<option value="mn">Mongolian - (??????)</option>
<option value="ne">Nepali - (??????)</option>
<option value="nso">Northern Sotho - (Sesotho sa Leboa)</option>
<option value="no">Norwegian (Norsk)</option>
<option value="nb">Norwegian Bokmål - (Norsk bokmål)</option>
<option value="nn">Norwegian Nynorsk - (Nynorsk)</option>
<option value="oc">Occitan</option>
<option value="or">Oriya - (?????)</option>
<option value="om">Oromo - (Afaan Oromoo)</option>
<option value="os">Ossetian - (???? æ????)</option>
<option value="ps">Pashto - (????)</option>
<option value="fa">Persian - (?????)</option>
<option value="pl">Polish - (Polski)</option>
<option value="pt">Portuguese - (Português)</option>
<option value="pt-BR">Portuguese Brazil - (Português Brasil)</option>
<option value="pt-PT">Portuguese Portugal - (Português Portugal)</option>
<option value="pa">Punjabi - (??????)</option>
<option value="qu">Quechua - (Runa Simi)</option>
<option value="ro">Romanian - (Româna)</option>
<option value="mo">Romanian  Moldova - (Româna Moldova)</option>
<option value="rm">Romansh - (Rumantsch)</option>
<option value="ru">Russian - (???????)</option>
<option value="sm">Samoan - (Gagana Samoa)</option>
<option value="sat">Santali - (???????)</option>
<option value="sc">Sardinian - (Sardu)</option>
<option value="gd">Scottish Gaelic - (Gàidhlig)</option>
<option value="sr">Serbian - (??????)</option>
<option value="sh">Serbo_Croatian - (Srpskohrvatski)</option>
<option value="sn">Shona - (ChiShona)</option>
<option value="sd">Sindhi - (????)</option>
<option value="si">Sinhala - (?????)</option>
<option value="sk">Slovak - (Slovencina)</option>
<option value="sl">Slovenian - (Slovenšcina)</option>
<option value="so">Somali - (Soomaali)</option>
<option value="st">Southern - Sotho (Sesotho)</option>
<option value="es">Spanish - (Español)</option>
<option value="es-AR">Spanish  Argentina  - (Español Argentina)</option>
<option value="es-419">Spanish  Latin America  - (Español Latinoamérica)</option>
<option value="es-MX">Spanish  Mexico  - (Español  México)</option>
<option value="es-ES">Spanish  Spain  - (Español España)</option>
<option value="es-US">Spanish  United States  - (Español Estados Unidos)</option>
<option value="su">Sundanese - (Basa Sunda)</option>
<option value="sw">Swahili - (Kiswahili)</option>
<option value="sv">Swedish - (Svenska)</option>
<option value="tg">Tajik - (??????)</option>
<option value="ta">Tamil - (?????)</option>
<option value="tt">Tatar - (?????)</option>
<option value="te">Telugu - (??????)</option>
<option value="th">Thai - (???)</option>
<option value="ti">Tigrinya - (????)</option>
<option value="to">Tongan - (Lea fakatonga)</option>
<option value="tn">Tswana - (Setswana)</option>
<option value="tr">Turkish - (Türkçe)</option>
<option value="tk">Turkmen - (Türkmençe)</option>
<option value="tw">Twi - (Twi)</option>
<option value="udm">Udmurt - (?????? ???)</option>
<option value="uk">Ukrainian - (??????????)</option>
<option value="ur">Urdu - (????)</option>
<option value="ug">Uyghur - (????????)</option>
<option value="uz">Uzbek - (O'zbek)</option>
<option value="ve">Venda - (Tshiven?a)</option>
<option value="vi">Vietnamese - (Ti?ng Vi?t)</option>
<option value="wa">Walloon - (Walon)</option>
<option value="cy">Welsh - (Cymraeg)</option>
<option value="fy">Western Frisian - (Frysk)</option>
<option value="wo">Wolof - (Wollof)</option>
<option value="xh">Xhosa - (isiXhosa)</option>
<option value="yi">Yiddish - (??????)</option>
<option value="yo">Yoruba - (Èdè Yorùbá)</option>
<option value="za">Zhuang - (Sa? cue??)</option>
<option value="zu">Zulu - (isiZulu)</option>
</select>
{#
• Afrikaans: af
• English: en
• isiNdebele: nr (sometimes nd is used, but nr is the current ISO 639-1 code for South Ndebele)
• isiXhosa: xh
• isiZulu: zu
• Sepedi (also known as Sesotho sa Leboa or Northern Sotho): nso
• Sesotho (also known as Southern Sotho): st
• Setswana: tn
• siSwati (also known as Swati): ss
• Tshivenda (also known as Venda): ve
• Xitsonga (also known as Tsonga): ts
• South African Sign Language (SASL): sfs (This is the ISO 639-3 code, as there isn't a specific ISO 639-1 code for SASL yet).
#}
{%- endmacro %}