aiosmtplib==4.0.1
beautifulsoup4==4.13.4
bs4==0.0.2
bunch_py3==2.0.0
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
dnspython==2.7.0
email_validator==2.2.0
greenlet==3.2.3
idna==3.10
imap-tools==1.11.0
loguru==0.7.3
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
requests==2.32.2
six==1.17.0
soupsieve==2.7
SQLAlchemy==2.0.30
typing_extensions==4.14.1
urllib3==2.2.1
win32_setctime==1.2.0
